:root {
    --primary-white: #ffffff;
    --primary-red: #dc1010;
    --primary-purple: #783EC3;
    --secondary-purple: #4D277E;
    --primary-blue: #5450CA;
    --secondary-blue: #3733AA;
    --primary-black: #0A1015;
}
::placeholder {
    color: var(--primary-black);
}
.loginForm {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.loginForm form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 24px;
}

.loginForm form div {
    width: 100%;
}

.loginForm form > div:has(button) {
    display: flex;
    gap: 2%;
    justify-content: center;
}


.loginForm input {
    background-color: transparent;
    width: 100%;
    height: 45px;
    border: 1px solid var(--primary-white);
    border-radius: 10px;
    font-size: 16px;
    padding-left: 1%;
    color: var(--primary-white);
}

.loginForm form > div:has(label) {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginForm input:focus {
  outline: none;
  border: 2px solid var(--secondary-purple);

}

.loginForm button {
    border: 2px solid var(--secondary-purple);
    background-color: var(--secondary-purple);
    padding: 2%;
    border-radius: 24px;
}
.loginForm button:hover {
    border: 1px solid var(--primary-purple)   ;
    background-color: var(--primary-white);
    color: var(--primary-purple);
}
