:root {
    --primary-white: rgba(255, 255, 255, 0.297);
    --secondary-white: rgba(255, 255, 255, 0.806);
    --primary-red: #dc1010;
    --primary-purple: rgba(63, 28, 109, 0.509);
    --secondary-purple: rgba(36, 14, 66, 0.854);
    --primary-blue: #5450CA;
    --secondary-blue: #3733AA;
    --primary-black: #0A1015;
}
::placeholder {
    color: var(--primary-black);
}
.loginForm {
    height: 60vh;
    width:30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--primary-white);
    padding: 8%;
    background-color: var(--primary-white);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    width: 75%;
}


.loginForm form > div:has(button) {
    display: flex;
    gap: 2%;
    justify-content: center;
}


.loginForm input {
    background-color: transparent;
    width: 100%;
    height: 80%;
    border: 1px solid var(--primary-white);
    border-radius: 10px;
    font-size: 16px;
    padding-left: 1%;
    color: var(--secondary-white);
}

.loginForm input:focus {
  outline: none;
  border: 2px solid var(--secondary-purple);

}

.loginForm button {
    border: 1px solid var(--secondary-purple);
    background-color: var(--primary-white);
    padding: 2%;
    border-radius: 24px;
    width: 60%;
}
.loginForm button:hover {
    border: 1px solid var(--primary-white)   ;
    background-color: var(--primary-purple);
    color: var(--secondary-white);
}

.loginForm div:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.loginForm img {
    width: 15%;
}