:root {
    --primary-white: #ffffff;
}
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input {
    background-color: transparent;
    width: 300px;
    height: 45px;
    border: 1px solid var(--primary-white);
    border-radius: 10px;
}