* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

:root {
    --primary-blue: #5450CA;
    --secondary-blue: #3733AA;
    --mainOrange: #13bd27;
    --mainRed: #c92b2b;
    --mainWhite: #d9edd7;
    --mainBlack: #292524;
    --primary-purple: #783EC3;
    --secondary-purple: #4D277E;
    --primary-black: #0A1015;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('@/public/background9.jpg') no-repeat fixed center;
  backdrop-filter: blur(20px);
  background-color: var(--primary-purple);
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
