* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

:root {
    --mainBlue: #2135A6;
    --mainOrange: #13bd27;
    --mainRed: #c92b2b;
    --mainWhite: #d9edd7;
    --mainBlack: #292524;
}

:focus {
  outline: none;
  border: 2px solid var(--mainRed);

}

body {
  background-color: var(--mainBlue);
}

